*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; 
}

html{
  padding-top: 56px;
}

header{
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}

main{
  position: relative;
}